<div class="container fiddle-container">
    <div class="row">
        <h1>Fiddle with Fixie <i class="fa fa-gears"></i></h1>
        <section class="col-xs-6">
            <div id="raw-dom" contenteditable></div>
            <span class="section-label">Raw DOM</span>
        </section>

        <section class="col-xs-6">
            <textarea id="raw-html"/>
            <span class="section-label">Raw HTML</span>
        </section>
    </div>
    <div class="row">
        <section class="col-xs-6">
            <div id="scrubbed-dom"></div>
            <span class="section-label">Scrubbed DOM <i class="fa fa-lock"></i></span>
        </section>
        <section class="col-xs-6">
            <div id="scrubbed-html"/>
            <span class="section-label">Scrubbed HTML <i class="fa fa-lock"></i></span>
        </section>
    </div>
</div>
